@use '../globals' as u;

#landing-section-about{
    padding: var(--section-padding);
    background-color: var(--secondaryBG-color);
    
    .landing-container{
        padding: 0;
    }
}

.Navigation-bar{
    background-color: var(--secondaryBG-color);
}

.landing-container{
    text-align: center;
    
    position: relative;
    &__header{
        line-height: 50px;
        font-size: var(--header-size);
        font-weight: bolder;
        @include u.breakpoint(medium){
            max-width: 13em;
        }

        @include u.breakpoint(large) {
            line-height: 65px;
        }

        span{
            color:var(--secondaryUtil-color);
        }
    }

    &__background-img{
        top:0;
        opacity: .05;
    }

  
    
}
