@use '../globals' as u;

#menu-section{
    padding:var(--section-padding);
    letter-spacing: 1px;  
    background-color: var(--secondaryBG-color);
}

.menu{
    padding:var(--container-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:3em;
    padding-right:0;
    padding-left:0;
    align-items: center;

    @include u.breakpoint(medium) {
       gap:4em;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:1em;

        @include u.breakpoint(medium) {
            gap:1.5em;
        }
    }

    &__heading{
        font-size: var(--headerTwo-size);
        
    }

    &__paragraph{
        span{
            color:var(--secondaryUtil-color);
            border-bottom: 1px solid var(--secondaryUtil-color);
        }

        @include u.breakpoint(large) {
            max-width: 35em;
        }
    }
    
    &__buttons-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:1em;
        width:100%;

        @include u.breakpoint(medium) {
            width:90%;
        }

        @include u.breakpoint(x-large) {
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width:35em;
        }

    }

    &__button{
        width:90%;
        padding:1.2em;
        border-radius: 5px;
        border:transparent;
        background-color: transparent;
        font-size:var(--body-size);
        cursor: pointer;
        border:1px rgba(0, 0, 0, 0.103) solid;

        @include u.breakpoint(x-large) {
            width:100%;
            padding:1em;
        }
    }

    &__button-active{
        background-color: var(--util-color);
    }

    &__food-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:1em;
        margin-top:1em;

        @include u.breakpoint(medium) {
           gap:4em;
        }

        @include u.breakpoint(x-large) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1em;
            max-width: 73.75em;
        }
    }

    &__food-card{
        display: flex;
        flex-direction: column;
        gap:1em;
        padding:1em;
        background-color: white;
        border-radius: 5px;
        align-items: start;
        border:1px #b8b8ff7e solid;
        
        @include u.breakpoint(medium) {
            max-width: 23em;
        }

        @include u.breakpoint(large) {
            max-width: 21em;
        }

        @include u.breakpoint(x-large) {
           height:35em;
        }

    }

    &__food-img{
        width:100%;
        height:17em;
        border-radius: 15px;
        overflow: hidden;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }

        @include u.breakpoint(x-large) {
            border-radius: 5px;
        }
    }

    &__food-row-wrapper{
        display: flex;
        flex-direction: column;
        gap:1em;
        
        @include u.breakpoint(x-large) {
            gap:.30em;
        }
    }
    
    &__name-price-row{
        display: flex;
        flex-direction: column;
        gap:.50em;

        @include u.breakpoint(x-large) {
            flex-direction: row;
            width:100%;
            align-items: center;
            justify-content: space-between;
        }
    }


    &__food-name{
        font-size:var(--headerThree-size);
        letter-spacing: 0.5px;
        margin-top:.50em;
        @include u.breakpoint(x-large) {
            margin-top:0;
        }
    }

    &__food-price{
        color:var(--secondaryUtil-color);
    }

    &__add-to-cart{
        display: flex;
        gap:.40em;
        width:100%;
        margin-top:1em;
        @include u.breakpoint(x-large) {
            margin-top:0.50em;
        }
    }

    &__capacity{
        border-radius: 5px;
        outline: none;
        border: 1px rgba(128, 128, 128, 0.644) solid;
        font-size:var(--body-size);
        padding:.80em 0 0.80em .70em;
    }

    &__order-quantity{
        display: flex;
        align-items: center;
        gap:.70em;

        img{
            cursor: pointer;
        }
    }

    &__cart-button{
        background-color: var(--util-color);
        border:none;
        border-radius: 5px;
        padding:1em;
        width:50%;
        font-size:var(--body-size);
        cursor: pointer;
        
        @include u.breakpoint(x-large) {
            padding:.75em 0;
        }
    }

    &__button-end{
        padding:1.3em 4em;
        background-color: var(--util-color);
        border-radius: 5px;
        color:var(--body-color);
        margin-top:3em;
        text-align: center;
        
    }
}