@use '../globals/breakpoints' as u;

:root{
    //color scheme
    --background-color:#ffffff;
    --secondaryBG-color:#f8f7ff;
    --body-color:#000000;
    --util-color:#b8b8ff;
    --secondaryUtil-color:#6153B0;

   

    //font size
    --header-size:clamp(2.6rem, 5vw, 3.9rem);
    --headerTwo-size:clamp(2.5rem, 8vw, 3rem);
    --headerThree-size:clamp(1.4rem, 2vw, 1.7rem);
    --body-size:1rem;
    --footer-size:clamp(0.95rem, 1.5vw, 0.938rem);

    //font weight
    --font-weight:400;
    --font-weight:700;

    //navbar height
    --navbar-height:94.93px;

    //padding
    --section-padding:clamp(3.75em, 7.82vw, 6.25em) 1rem;
    --container-padding:clamp(2em, 7.82vw, 6.25em) 0rem;
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local(""),
        url(../assets/fonts/inter-regular-webfont.woff2) format("woff2"),
        url(../assets/fonts/inter-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local(""),
        url(../assets/fonts/inter-bold-webfont.woff2) format("woff2"),
        url(../assets/fonts/inter-bold-webfont.woff) format("woff");
}