
:root{
    //color scheme
    --background-color:#f4f4f4;
    --body-color:#333333;
    --heading-color:#000000;
    --util-color:#FFE082;
    --secondaryUtil-color:#707070;

    //font size
    --header-size:clamp(2.8125rem, 7vw, 3.9rem);
    --headerTwo-size:clamp(2.3rem, 5vw, 2.6rem);
    --sub-head:clamp(1.5rem, 2vw, 1.7rem);
    --body-size:1rem;
    --footer-size:clamp(0.875rem, 1.5vw, 0.938rem);

    //font weight
    --font-weight:300;
    --font-weight:400;
    --font-weight:700;

    //navbar height
    --navbar-height:132px;

}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local(""),
        url(../assets/fonts/inter-regular-webfont.woff2) format("woff2"),
        url(../assets/fonts/inter-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local(""),
        url(../assets/fonts/inter-bold-webfont.woff2) format("woff2"),
        url(../assets/fonts/inter-bold-webfont.woff) format("woff");
}