#about-section{
    letter-spacing: 1px;  
    padding:var( --section-padding);
    background-color: var(--secondaryBG-color);
}

.about{
    display: flex;
    flex-direction: column;
    gap:2em;
    padding:var(--section-padding);
    padding-left:0;
    padding-right:0;
    align-items: center;

    &__info{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:1.2em;
       align-items: start;
       position: relative;
    }
    
    &__heading{
        font-size:var(--headerTwo-size);
        line-height: 45px;
        color: var( --secondaryUtil-color);
    }

    .background-text{
        display: block;

        opacity: .03;
        position: absolute;
        top:3em;
        width:100%;
        height:100%;
    }

    &__paragraph{
        line-height: 27px;
    }

    &__button{
        padding:1.3em 3em;
        background-color: var(--util-color);
        border-radius: 5px;
        color:var(--body-color);
        z-index: 1;
        margin-top:1.5em;
    }

    &__img{
        width:100%;
        height:100%;
        display: block;
        margin-top:4em;
        z-index: 1;
        position: relative;
        
        &:before{
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: var(--secondaryUtil-color);
            opacity: .20;
            z-index: 2;
            position:absolute;
            bottom:0;
            top:0;
            border-radius: 20px;
        }

        img{
            border-radius: 20px;
            width:100%;
            height:100%;
            object-fit: contain;
            z-index: 1;
            display: block;
        }
    }
}

