#landing-section{
    
    letter-spacing: 1px;  
}

.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:var( --section-padding);
    padding-top:clamp(7em, 25vw, 18em);
   
    &__textContainer{
        display: flex;
        flex-direction: column;
        gap:1em;
        justify-content: center;
    }
    
    &__heading{
        font-size:var( --header-size);
        text-align: center;
    }

    &__paragraph{
        font-size:var( --sub-head);
        text-align: center;
        line-height: 25px;
    }

    .landing__button.href-button{
        padding:1.3em 1em;
        background-color: var(--util-color);
        border-radius: 5px;
        color:var(--body-color);
        z-index: 1;
        margin-top:1em;
    }
}

.landing-bg{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    &::before{
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        opacity: .7;
        top: 0;
        left: 0;
        z-index: 1;
    }
    img{
        position: absolute;
        display: block;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit: cover;
        
    }
}

