#menu-section{
    padding:var(--section-padding);
    letter-spacing: 1px;  
    background-color: var(--secondaryBG-color);
}

.menu{
    padding:var(--container-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1.5em;
    padding-right:0;
    padding-left:0;
    align-items: center;
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:1em;
    }

    &__heading{
        font-size: var(--headerTwo-size);
    }

    &__paragraph{
        span{
            color:var(--secondaryUtil-color);
            border-bottom: 1px solid var(--secondaryUtil-color);
        }
    }
    
    &__buttons-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:1em;
        margin-top:2em;
        width:100%;
    }

    &__button{
        width:90%;
        padding:1.2em;
        border-radius: 5px;
        border:transparent;
        background-color: transparent;
        font-size:var(--body-size);
        cursor: pointer;
        border:1px rgba(0, 0, 0, 0.103) solid;
        &:hover{
            background-color: var(--util-color);
        }
    }

    &__button-active{
        background-color: var(--util-color);
    }

    &__food-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:1em;
        margin-top:2em;
    }

    &__food-card{
        display: flex;
        flex-direction: column;
        gap:1em;
        padding:1em;
        background-color: white;
        border-radius: 5px;
        align-items: start;
        
    }

    &__food-img{
        width:100%;
        height:17em;
        border-radius: 15px;
        overflow: hidden;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }


    &__food-name{
        font-size:var(--headerThree-size);
        letter-spacing: 0.5px;
        margin-top:.50em;
    }

    &__food-price{
        color:var(--secondaryUtil-color);
    }

    &__add-to-cart{
        display: flex;
        gap:.40em;
        width:100%;
        margin-top:1em;
    }

    &__capacity{
        border-radius: 5px;
        outline: none;
        border: 1px rgba(128, 128, 128, 0.644) solid;
        font-size:var(--body-size);
        padding:.80em 0 0.80em .70em;
    }

    &__order-quantity{
        display: flex;
        align-items: center;
        gap:.70em;

        img{
            cursor: pointer;
        }
    }

    &__cart-button{
        background-color: var(--util-color);
        border:none;
        border-radius: 5px;
        padding:1em;
        width:40%;
        font-size:var(--body-size);
        cursor: pointer;
        margin-left:1em;
    }

    &__button-end{
        padding:1.3em 4em;
        background-color: var(--util-color);
        border-radius: 5px;
        color:var(--body-color);
        margin-top:2em;
        text-align: center;
    }
}