.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:100%;
    background-color: var(--util-color);
    height:100%;
    padding:.50em;
    &__image-wraper{
        width: 100%;
        height: 100%;
    }

    &__image{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .07;
        
    }
    
    &__text{
        font-size:0.9375rem;
        text-align: center;
        line-height: 18px;
        z-index:1;
        letter-spacing: .5px;
    }

    &__order{
        font-weight:700;
        text-decoration: none;
        color:var( --body-color);
        
        &:hover{
            color:var( --body-color);
            opacity: .90;
        }
    }

}      

#navigation-bar{
    background-color: white;
    width:100%;
    display:flex;
    padding:.50em;
    align-items: center;
    
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__logo {
        width: 100%;
        height: 100%;
        max-width: 4em;
        max-height:4em;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__order-toggle{
        height:4em;
        width:4em;
        border:1px rgba(0, 0, 0, 0.13) solid;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--util-color);

        & img{
            width:100%;
            height:100%;
            max-width:2em;
            opacity: 0.6;
        }
    }
    

    @media screen and (max-width:64em) {
        
        &__wrapper{
            position:absolute;     
            width:100%;
            background-color: white;
            z-index: 1;
            top:var(--navbar-height);
            left:0;
            padding:2em;
            transform: scaleY(0);
            border-top:1px rgba(0, 0, 0, 0.048) solid;
        
        }

        &__ul{
            list-style: none;
            display: flex;
            gap:2em;
            flex-direction: column;
            align-items: center;

            &:hover{
                opacity: .8;
            }
        }
        
        &__links{
            color:var(--body-color);
            padding:.50em;
        }

        .navigation__wrapper.open{
            transform: scaleY(1);
        }

        &__toggle-wrapper{
            display: flex;
            gap:.50em;
            
        }

        &__toggle{
            height:4em;
            width:4em;
            border:1px rgba(0, 0, 0, 0.13) solid;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &__toggle-span{
            height:2px;
            width:20px;
            background-color: black;
            display: block;
            position:absolute;

            &::before, &::after{
                content:'';
                height:2px;
                width:20px;
                background-color: black;
                display: block;
                position:absolute;
            }

            &::before{
                bottom:7px;
            }
            
            &::after{
                top:7px;
            }
        }

        .navigation__toggle.active{
            background-color: #FFE082;
            
            .navigation__toggle-span{
                opacity: 0.6;
            }
        }

    }
}